<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.treescanner">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="sensorPortrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.TreeScanner">
        <activity
            android:name=".GalleryActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityQuizResponseImage"
            android:exported="false" />
        <activity
            android:name=".QuizActivityResponse"
            android:exported="false" />
        <activity
            android:name=".FactsActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".QuizActivityMain"
            android:exported="false" />
        <activity
            android:name=".TreeMenu"
            android:exported="true"
            android:label="Search"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".QRInfoActivity"
            android:exported="true" />
        <activity
            android:name=".QRScanActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>